{% extends 'base.html' %}
{% block content %}


{% if user.is_authenticated %}
  <h1>Your Followed Stocks</h1>

  {% if stocks %}
    <div class="row">
      {% for sf in stocks %}
        <div class="col-md-4 mb-3">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><strong>Stock:</strong> {{sf.ticker}}</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary"><strong>Followed on: </strong>{{ sf.timestamp|date:"Y-m-d H:i" }}</h6>
              <p class="card-text">
                Last Price: {{ sf.tngolast }}<br>
                High / Low: {{ sf.high }} / {{ sf.low }}<br>
                Volume: {{ sf.volume }}<br>
                Followed on: {{ sf.timestamp|date:"Y-m-d H:i" }}
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
{% else %}

    <p>You’re not following any stocks yet. <a href="{% url 'follow-stock' %}">Add one now</a>.</p>

  {% endif %}

  </tbody>
</table>



{% else %}
<div class="col-md-6 offset-md-3"></div>

<h1>Login</h1>
<br/>
<form method="POST" action="{% url 'home' %}">
    {% csrf_token %}
    <form>
        <div class="mb-3">
          <input type="text" class="form-control" name="username", placeholder="username" required >
        </div>
        <br/>
        <div class="mb-3">
          <input type="password" class="form-control" name="password", placeholder="password" required>
        </div>
        <br/>
        <button type="submit" class="btn btn-secondary">Login</button>
      </form>
</form>





{% endif%}

{%endblock%}